*{
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.titulo{
    font-size: 35px;
    color: #0a84a9;
    margin-bottom: 30px;
}

.cadastro, label{
    font-size: 20px;
    margin-top: 30px;
}

.cadastro, input, button{
    border-radius: 16px;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    margin-bottom: 20px;
}

.btncadastrar:hover{
    cursor: pointer;
    background-color: #0a84a9;
    color: white;
    border-color: black;
}

.formExame{
    display: none;
}

.formRemedios{
    display: none;
}

.formCirurgias{
    display: none;
}

.formAlergias{
    display: none;
}

.formAlergiaM{
    display: none;
}