.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.cadastro form{
    padding: 20px;
    border-top: solid black ;
    
}

.cadastro header{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 170px;
    margin-right: 170px;
    font-size: 25px;
}

.cadastro input{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 15px;
}

.cadastro button{
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    border-radius: 16px;
    border: solid black;
}

.cadastro button:hover {
    background-color: rgb(23, 174, 23);
    color: white;
    border: solid black;
    cursor: pointer;
}